@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 1.05rem;
    }

    .logo {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 30%,
            $primary-clr 30%,
            $primary-clr 80%
        );
    }

    .book-cards-container {
        background-image: url("/ready/assets/img/blob-scatter-haikei-1.svg");
    }

    .book-card {
        width: 35rem;
    }
}
